src/orchestrator/sfn_definition.json
{
  "Comment": "AWS Hands-on Workflow v3.2 — Research / Execute / Publish pipeline with rework loop",
  "StartAt": "Research",
  "States": {
    "Research": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "${ResearchQueueUrl}",
        "MessageBody": {
          "task_id.$": "$.task_id",
          "url.$": "$.url",
          "token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.research_result",
      "Next": "CheckResearchVerdict",
      "TimeoutSeconds": 7200,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NeedsHuman",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "CheckResearchVerdict": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.research_result.verdict",
          "StringEquals": "skip",
          "Next": "UpdateSkipped"
        }
      ],
      "Default": "Execute"
    },
    "Execute": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "${ExecuteQueueUrl}",
        "MessageBody": {
          "task_id.$": "$.task_id",
          "research.$": "$.research_result",
          "token.$": "$$.Task.Token"
        }
      },
      "ResultPath": "$.execute_result",
      "Next": "Publish",
      "TimeoutSeconds": 28800,
      "Retry": [
        {
          "ErrorEquals": [
            "TransientError"
          ],
          "MaxAttempts": 1
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NeedsHuman",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage.waitForTaskToken",
      "Parameters": {
        "QueueUrl": "${PublishQueueUrl}",
        "MessageBody": {
          "task_id.$": "$.task_id",
          "token.$": "$$.Task.Token",
          "research_result.$": "$.research_result",
          "execute_result.$": "$.execute_result"
        }
      },
      "ResultPath": "$.publish_result",
      "Next": "CheckPublishResult",
      "TimeoutSeconds": 7200,
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "NeedsHuman",
          "ResultPath": "$.error_info"
        }
      ]
    },
    "CheckPublishResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.publish_result.rework_needed",
          "IsPresent": true,
          "Next": "IncrementRework"
        }
      ],
      "Default": "UpdateCompleted"
    },
    "IncrementRework": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${IncrementReworkFn}",
        "Payload": {
          "task_id.$": "$.task_id"
        }
      },
      "ResultSelector": {
        "rework_count.$": "$.Payload.rework_count"
      },
      "ResultPath": "$.rework_info",
      "Next": "CheckReworkLimit"
    },
    "CheckReworkLimit": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.rework_info.rework_count",
          "NumericGreaterThan": 2,
          "Next": "NeedsHuman"
        },
        {
          "Variable": "$.publish_result.rework_type",
          "StringEquals": "redesign",
          "Next": "Research"
        },
        {
          "Variable": "$.publish_result.rework_type",
          "StringEquals": "retest_all",
          "Next": "Execute"
        },
        {
          "Variable": "$.publish_result.rework_type",
          "StringEquals": "retest_specific",
          "Next": "Execute"
        }
      ],
      "Default": "NeedsHuman"
    },
    "UpdateCompleted": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${IncrementReworkFn}",
        "Payload": {
          "task_id.$": "$.task_id",
          "action": "mark_completed"
        }
      },
      "ResultPath": "$.update_result",
      "Next": "NotifyComplete"
    },
    "NotifyComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${NotifyTopic}",
        "Message.$": "States.JsonToString($.publish_result)"
      },
      "Next": "Completed"
    },
    "Completed": {
      "Type": "Succeed"
    },
    "Skipped": {
      "Type": "Succeed"
    },
    "NeedsHuman": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "TopicArn": "${AlertTopic}",
        "Message.$": "States.Format('Task {} needs human review', $.task_id)",
        "Subject": "Hands-on Workflow: Human Review Required"
      },
      "Next": "Failed"
    },
    "Failed": {
      "Type": "Fail",
      "Error": "NeedsHumanReview",
      "Cause": "Rework limit exceeded or unhandled rework type"
    },
    "UpdateSkipped": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "handson-tasks",
        "Key": {
          "task_id": {
            "S.$": "$.task_id"
          }
        },
        "UpdateExpression": "SET #s = :s, updated_at = :ts",
        "ExpressionAttributeNames": {
          "#s": "state"
        },
        "ExpressionAttributeValues": {
          ":s": {
            "S": "skipped"
          },
          ":ts": {
            "S.$": "$$$.State.EnteredTime"
          }
        }
      },
      "ResultPath": null,
      "Next": "Skipped"
    }
  }
}